<form [formGroup]="projectForm" (ngSubmit)="submit(projectForm.value)">
    <div class="form-group">
        <md-input-container class="full-width">
            <input mdInput formControlName="name" placeholder="Name">
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container class="full-width">
            <input mdInput formControlName="description" placeholder="Description">
        </md-input-container>
    </div>
    <div class="form-group">
        <button md-raised-button type="submit" [disabled]="!projectForm.valid" class="pull-right" color="primary">Create</button>
    </div>
</form>