<form [formGroup]="jobForm" (ngSubmit)="submit(jobForm.value)">
    <div class="row">
        <div class="form-group col-sm-6">
            <md-input-container style="width: 100%;">
                <input mdInput [mdDatepicker]="picker" placeholder="Date" formControlName="date">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
        </div>
        <div class="form-group col-sm-3">
            <div style="margin-top: 15px;">
                <md-checkbox formControlName="replaceBase">Replace base</md-checkbox>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div style="margin-top: 15px;">
                <md-checkbox formControlName="replaceModel">Replace model</md-checkbox>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <div class="md-input-container full-width">
                <div class="md-input-wrapper">
                    <md-select placeholder="Horizon" formControlName="horizon" class="full-width">
                        <md-option *ngFor="let horizon of jobFormParams.horizonVals" [value]="horizon">
                            {{horizon}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <div class="md-input-container full-width">
                <div class="md-input-wrapper">
                    <md-select placeholder="VS" formControlName="vs" class="full-width">
                        <md-option *ngFor="let vs of jobFormParams.vsVals" [value]="vs">
                            {{vs}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-group col-sm-6">
            <div class="md-input-container full-width">
                <div class="md-input-wrapper">
                    <md-select placeholder="Asset group" formControlName="assetGroup" (change)="onAssetGroupChange()" class="full-width">
                        <md-option *ngFor="let assetGroup of assetGroups" [value]="assetGroup.name">
                            {{assetGroup.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="md-input-container full-width">
                <div class="md-input-wrapper">
                    <md-select placeholder="Asset" formControlName="asset" class="full-width">
                        <md-option *ngFor="let asset of assets" [value]="asset.name">
                            {{asset.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 40px;">
        <div class="form-group col-sm-6">

        </div>
        <div class="form-group col-sm-6">
            <md-radio-group formControlName="mode" (change)="onChangeMode()">
                <md-radio-button value="total">% of total</md-radio-button>
                <!--Temporary disabled-->
                <!-- <md-radio-button value="each" style="margin-left: 10px;">% of each</md-radio-button> -->
            </md-radio-group>
        </div>
    </div>

    <div class="row" *ngFor="let control of sliders.indices">
        <div class="form-group col-sm-4">
            <md-checkbox [(ngModel)]="control.enabled" (change)="onSliderToggle(sliders.indices, control)" [ngModelOptions]="{standalone: true}">
                {{control.title}}
            </md-checkbox>
        </div>
        <div class="form-group col-sm-8">
            <div style="display: flex;">
                <div style="margin-right: 25px; font-size: 17px;">{{control.val}}</div>
                <div>0</div>
                <md-slider class="example-margin" [ngModelOptions]="{standalone: true}" [disabled]="!control.enabled" [max]="control.max"
                    [min]="0" [step]="1" [thumb-label]="true" [(ngModel)]="control.val" (change)="onSliderValueChange(sliders.indices, control)"
                    [style.width]="control.max + '%'">
                </md-slider>
                <div>{{control.max}}</div>
            </div>
        </div>
    </div>

    <hr />

    <div class="row" *ngFor="let control of sliders.indicesTypes">
        <div class="form-group col-sm-4">
            <md-checkbox [(ngModel)]="control.enabled" (change)="onSliderToggle(sliders.indicesTypes, control)" [ngModelOptions]="{standalone: true}">
                {{control.title}}
            </md-checkbox>
        </div>
        <div class="form-group col-sm-8">
            <div style="display: flex;">
                <div style="margin-right: 25px; font-size: 17px;">{{control.val}}</div>
                <div>0</div>
                <md-slider class="example-margin" [ngModelOptions]="{standalone: true}" [disabled]="!control.enabled" [max]="control.max"
                    [min]="0" [step]="1" [thumb-label]="true" [(ngModel)]="control.val" (change)="onSliderValueChange(sliders.indicesTypes, control)"
                    [style.width]="control.max + '%'">
                </md-slider>
                <div>{{control.max}}</div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button md-raised-button type="submit" class="pull-right" color="primary">Run</button>
    </div>
</form>