<form (ngSubmit)="submit()" style="max-height: 800px; overflow-y: auto;">
    <h5>Project collaborators</h5>
    <table class="table">
        <tr *ngFor="let user of users">
            <td>
                {{user.Name}} {{user.Surname}}
            </td>
            <td>
                {{user.Email}}
            </td>
            <td style="width: 120px;" class="text-right">
                <button type="button" *ngIf="!user.IsInProject" class="btn btn-primary" (click)="addUser(user);">Add</button>
                <button type="button" *ngIf="user.IsInProject" class="btn btn-warning" (click)="removeUser(user);">Remove</button>
            </td>
        </tr>
    </table>
    <div class="form-group">
        <button md-raised-button type="submit" class="pull-right" color="primary">Close</button>
    </div>
</form>