<div class="container-fluid with-maxwidth chapter" *ngIf="projects">
    <div class="col-sm-12 clearfix">

        <div class="clearfix m-4 no-margin-h">
            <button md-raised-button color="primary" class="pull-right" (click)="openCreateProjectDialog()">Create new project</button>
        </div>

        <div class="box box-default table-box mdl-shadow--2dp">
            <div class="mdl-data-table mdl-data-table-non-numeric table-responsive">
                <table class="" style="width: 100%;">
                    <thead>
                        <tr>
                            <th></th>
                            <th style="min-width: 300px;">Project</th>
                            <th style="width: 100px;">Creator</th>
                            <th style="width: 200px;">Datasources</th>
                            <th style="width: 200px;">Created</th>
                            <th style="width: 20px;"></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let project of projects">
                        <tr>
                            <td style="width: 5px; padding-left: 10px; padding-right: 0;">
                                <button md-icon-button (click)="toggleJobs(project)">
                                    <md-icon *ngIf="!project.jobsOpened">arrow_drop_down</md-icon>
                                    <md-icon *ngIf="project.jobsOpened">arrow_drop_up</md-icon>
                                </button>
                            </td>
                            <td>
                                <strong>
                                    <a [routerLink]="['/']">{{project.name}}</a>
                                </strong>
                                <br />{{project.description}}
                            </td>
                            <td>{{project.creator.email}}</td>
                            <td>
                                <span *ngIf="!project.datasource && project.datasources.length == 0">No</span>
                                <span *ngIf="project.datasource">{{project.datasource.name}}</span>
                            </td>
                            <td>{{project.createdAt | date : 'short'}}</td>
                            <td>
                                <md-menu #userActionsMenu="mdMenu">
                                    <a md-menu-item [routerLink]="['/app/project/' + project.id +'/job/new/type/' + newJobRoute]">Create job</a>
                                    <button md-menu-item (click)="editProject(project)">
                                        <a>Edit</a>
                                    </button>
                                    <button *isAdmin md-menu-item (click)="manageCollaborators(project)">
                                        <a>Manage collaborators</a>
                                    </button>
                                    <button *isAdmin md-menu-item (click)="openGetTokenDialog(project.id)">
                                        Get upload token
                                    </button>
                                </md-menu>

                                <button md-icon-button [mdMenuTriggerFor]="userActionsMenu">
                                    <md-icon>more_vert</md-icon>
                                </button>
                            </td>
                        </tr>
                        <tr [class.hide]="!project.jobsOpened || !project.jobs || project.jobs.length===0" style="height: auto; background: rgba(0,0,0,0.15);">
                            <th colspan="5" style="padding-top: 5px; padding-bottom: 5px; height: auto; line-height: 18px;">
                                Jobs
                            </th>
                            <th style="padding-top: 5px; padding-bottom: 5px; height: auto; line-height: 18px;">
                                <md-icon class="pointer-cursor" (click)="refresh(project)">autorenew</md-icon>
                            </th>
                        </tr>
                        <tr [class.hide]="!project.jobsOpened || !project.jobs || project.jobs.length===0" *ngFor="let job of project.jobs">
                            <td colspan="2">
                                Algorithm:
                                <a>{{job.algorithm}}</a>
                                <br /> Job Id:
                                <a>{{job.id}}</a>
                            </td>
                            <td colspan="2">
                                <a>{{job.target.join(', ')}}</a>
                            </td>
                            <td>
                                <a>{{job.created | date : 'short'}}</a>
                            </td>
                            <td>
                                <a (click)="deleteJob(job, project)">
                                    <button md-icon-button>
                                        <md-icon class="color-danger">delete_forever</md-icon>
                                    </button>
                                </a>
                                <a [routerLink]="['/app/project/' + project.id +'/job/new/type/' + job.formVersion]" [queryParams]="{ clone: job.id}">
                                    <button md-icon-button>
                                        <md-icon>content_copy</md-icon>
                                    </button>
                                </a>
                                <a *ngIf="job.state =='succeeded'" [routerLink]="['/app/job/' + job.id +'/chart']">
                                    <button md-icon-button>
                                        <md-icon>show_chart</md-icon>
                                    </button>
                                </a>
                                <a *ngIf="job.state =='failed'" [routerLink]="['/app/job/' + job.id +'/chart']">
                                    <button md-icon-button>
                                        <md-icon class="color-warning">report_problem</md-icon>
                                    </button>
                                </a>
                                <a *ngIf="['new','pending','running'].indexOf(job.state) > -1" [routerLink]="['/app/job/' + job.id +'/chart']">
                                    <button md-icon-button>
                                        <md-icon class="fa-spin">data_usage</md-icon>
                                    </button>
                                </a>
                                <span> {{job.state}}</span>
                            </td>
                        </tr>
                        <tr [class.hide]="!project.jobsOpened || !project.jobs || project.jobs.length>0">
                            <td colspan="6">There are no jobs for this project</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>