<form [formGroup]="jobForm" (ngSubmit)="submit(jobForm.value)">
    <div class="row">
        <div class="form-group col-sm-6">
            <md-input-container style="width: 100%;">
                <input mdInput [mdDatepicker]="picker" placeholder="Date" formControlName="date">
                <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-datepicker #picker></md-datepicker>
        </div>
        <div class="form-group col-sm-6">
            <div style="margin-top: 15px;">
                <div class="row">
                    <div class="form-group col-sm-6 col-lg-4">
                        <md-checkbox formControlName="mutualInfo" class="text-nowrap">Mututal info</md-checkbox>
                    </div>
                    <div class="form-group col-sm-6 col-lg-4">
                        <md-checkbox formControlName="replaceBase" class="text-nowrap">Replace base</md-checkbox>
                    </div>
                    <div class="form-group col-sm-6 col-lg-4">
                        <md-checkbox formControlName="replaceModel" class="text-nowrap">Replace model</md-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-sm-6">
            <div class="md-input-container full-width">
                <div class="md-input-wrapper">
                    <md-select placeholder="Horizon" formControlName="horizon" class="full-width">
                        <md-option *ngFor="let horizon of jobFormParams.horizonVals" [value]="horizon">
                            {{horizon}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-6">
            <div class="md-input-container full-width">
                <div class="md-input-wrapper">
                    <md-select placeholder="VS" formControlName="vs" class="full-width">
                        <md-option *ngFor="let vs of jobFormParams.vsVals" [value]="vs">
                            {{vs}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="form-group col-sm-6">
            <div class="md-input-container full-width">
                <div class="md-input-wrapper">
                    <md-select placeholder="Asset group" formControlName="assetGroup" (change)="onAssetGroupChange()" class="full-width">
                        <md-option *ngFor="let assetGroup of assetGroups" [value]="assetGroup.name">
                            {{assetGroup.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <div class="md-input-container full-width">
                <div class="md-input-wrapper">
                    <md-select placeholder="Asset" formControlName="asset" class="full-width">
                        <md-option *ngFor="let asset of assets" [value]="asset.name">
                            {{asset.name}}
                        </md-option>
                    </md-select>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 15px;" [class.hide]="!showOptions">
        <div class="form-group col-sm-3">
            <div class="form-group">
                <md-input-container class="full-width">
                    <input mdInput placeholder="NegClass" formControlName="negClass">
                </md-input-container>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div class="form-group">
                <md-input-container class="full-width">
                    <input mdInput placeholder="NegNoise" formControlName="negNoise">
                </md-input-container>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div class="form-group">
                <md-input-container class="full-width">
                    <input mdInput placeholder="PosClass" formControlName="posClass">
                </md-input-container>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <div class="form-group">
                <md-input-container class="full-width">
                    <input mdInput placeholder="PosNoise" formControlName="posNoise">
                </md-input-container>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button md-raised-button type="submit" class="pull-right" color="primary">Run</button>
        <button md-raised-button type="button" class="pull-right" (click)="showOptions=!showOptions" color="default" style="margin-right: 10px;">Options</button>
    </div>
</form>