<div *ngIf="token">
    <h5>Upload token</h5>
    <div>
        <div class="text-muted" style="font-size: 11px; color: #666">Token expired at {{token.expired | date : 'short'}}</div>
        <div style="border-bottom: 1px dotted #999; margin: 5px 0 15px 0;">{{token.id}}</div>
    </div>
</div>