<div class="container">
    <div class="page-title">
        <h4>Create new job</h4>
    </div>

    <div class="box box-default">
        <div class="box-body" style="padding-top: 2em;">
            <div class="row">
                <div class="form-group col-sm-6" style="margin-top: 15px;">
                    <div class="md-input-container full-width">
                        <div class="md-input-wrapper">
                            <md-select placeholder="Algprithm" [(ngModel)]="model.alg" (change)="onAlgChange($event)" id="alg" name="alg" class="full-width">
                                <md-option *ngFor="let alg of algs" [value]="alg.name">
                                    {{alg.description}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                </div>
            </div>

            <router-outlet></router-outlet>
        </div>
    </div>
</div>