<form [formGroup]="projectForm" (ngSubmit)="submit(projectForm.value)">    
    <div class="form-group">
        <md-input-container class="full-width">
            <input mdInput placeholder="Name" formControlName="name">
        </md-input-container>
    </div>
    <div class="form-group">
        <md-input-container class="full-width">
            <input mdInput placeholder="Description" formControlName="description">
        </md-input-container>
    </div>    
    <div class="form-group">
        <button md-raised-button type="submit" [disabled]="!projectForm.valid" class="pull-right" color="primary">Update</button>
    </div>
</form>