<div class="container-fluid">
    <div class="page-title">
        <h4>Job results</h4>
    </div>

    <div class="box box-default">
        <div class="box-body" style="padding-top: 2em;" [@.disabled]="true">
            <div *ngIf="!results">
                <button md-icon-button>
                    <md-icon class="fa-spin">data_usage</md-icon>
                    Loading results...
                </button>
            </div>
            <div *ngIf="results && (results.length == 0 && !logs)">
                <button md-icon-button>
                    <md-icon>not_interested</md-icon>
                    No results
                </button>
            </div>

            <div *ngIf="results">
                <nav mat-tab-nav-bar>
                    <a md-tab-link (click)="activeTab=-1" [active]="activeTab==-1" *ngIf="logsAllowed">Logs</a>
                    <ng-container *ngFor="let chart of results; let idx = index">
                        <a md-tab-link (click)="activeTab=idx" [active]="activeTab==idx">{{chart.title}}</a>
                    </ng-container>
                </nav>
            </div>

            <ng-container *ngFor="let chart of results; let idx = index;">
                <div *ngIf="idx==activeTab">
                    <div class="chart" [ng2-echarts]="chart.chartOptions" style="height: 700px;"></div>
                    <div>
                        <h4>Stats</h4>
                        <table class="table" style="width: auto;">
                            <tr *ngFor="let stat of chart.stats">
                                <td>{{stat.key}}</td>
                                <td>{{stat.val}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </ng-container>

            <div *ngIf="logsAllowed && activeTab==-1">
                <pre class="mark" style="padding: 10px;">{{logs}}</pre>
            </div>
        </div>
    </div>
</div>